.arr-right .breadcrumb-item+.breadcrumb-item::before {
 
    content: "›";
   
    vertical-align:top;
   
    color: #408080;
   
    font-size:35px;
   
    line-height:18px;
   
}


.breadcrum {
    .active {
        color: #000000 !important;
    }
}


